<?php
/**
 * (c) Mantas Vaitkūnas <manvait@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */


$apiToken = 'Add here your api token';
